#audio-recording-player {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0px;
}

#audio-recording-player-title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  padding-left: 20px;
  display: flex;
  gap: 5px;
}

#audio-recording-player-controllers {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

mat-slider {
  flex-grow: 1;
  margin-right: 20px;
}

.audio-recording-player-button {
  width: 50px;
}
