<div id="audio-recording-player">
  <div id="audio-recording-player-title">
    <span style="font-weight: 500;">Selected audio:</span>
    <span *ngIf="audioRecordingPlayerService.audioRecordingBeingPlayed">
      {{ audioRecordingPlayerService.audioRecordingBeingPlayed.artist }} - {{ audioRecordingPlayerService.audioRecordingBeingPlayed.title }}
    </span>
    <span *ngIf="!audioRecordingPlayerService.audioRecordingBeingPlayed">None</span>
  </div>
  <div id="audio-recording-player-controllers">
    <mat-slider color="primary" step="1.0" min="0.0" max="{{ audioRecordingPlayerService.audioDuration }}">
      <input matSliderThumb [(ngModel)]="audioRecordingPlayerService.audioCurrentTime" (valueChange)="audioRecordingPlayerService.updateAudioCurrentTime($event)">
    </mat-slider>
    <button mat-icon-button (click)="playPreviousAudioRecording()" color="primary" class="audio-recording-player-button">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button (click)="audioRecordingPlayerService.audio.paused ? playAudioRecording() : pauseAudioRecording()" color="primary" class="audio-recording-player-button">
      <mat-icon>{{audioRecordingPlayerService.audio.paused ? 'play_circle_filled' : 'pause_circle_filled'}}</mat-icon>
    </button>
    <button mat-icon-button (click)="playNextAudioRecording()" color="primary" class="audio-recording-player-button">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
</div>
