html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-snack-bar, .success-snack-bar {
  --mdc-snackbar-supporting-text-color: black;
  --mdc-snackbar-supporting-text-size: 16px;
  margin: auto;
  text-align: center;
}

.error-snack-bar {
  --mdc-snackbar-container-color: #FFA07A;
}

.success-snack-bar {
  --mdc-snackbar-container-color: #90EE90;
}
