<div id="app-header">
  <mat-toolbar color="primary">
    <img id="app-header-logo" src="/assets/images/logo.png">
    <span id="app-header-title">Tubefy</span>
    <span id="app-header-filler"></span>
    <div>
      <button mat-icon-button (click)="showVideoSearchContent()">
        <mat-icon>videocam</mat-icon>
      </button>
      <button mat-icon-button (click)="showAudioManagementContent()">
        <mat-icon>music_note</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-form-field id="app-search-bar" color="primary" appearance="fill">
    <input matInput [(ngModel)]="searchQuery" [placeholder]="videoSearchEnabled ? 'Search' : 'Filter'"/>
    <button mat-icon-button matSuffix *ngIf="videoSearchEnabled" [disabled]="searchQuery.length == 0" (click)="searchVideos()" id="app-search-button" color="primary">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<div id="app-content">
  <tubefy-video-search #videoSearchComponent *ngIf="videoSearchEnabled"></tubefy-video-search>
  <ytam-audio *ngIf="audioManagementEnabled"></ytam-audio>
</div>
