<div id="app-header">
  <mat-toolbar color="primary">
    <img id="app-header-logo" src="/assets/images/logo.png">
    <span id="app-header-title">Tubefy</span>
    <span id="app-header-filler"></span>
    <div>
      <button mat-icon-button (click)="showVideoSearchResultsComponentContent()">
        <mat-icon>videocam</mat-icon>
      </button>
      <button mat-icon-button (click)="showAudioRecordingResultsComponentContent()">
        <mat-icon>music_note</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-form-field id="app-search-bar" color="primary" appearance="fill">
    <input matInput [(ngModel)]="searchQuery" [placeholder]="showVideoSearchResultsComponent ? 'Search' : 'Filter'" (keyup.enter)="searchVideos()"/>
    <button mat-icon-button matSuffix *ngIf="showVideoSearchResultsComponent" [disabled]="searchQuery.length == 0" (click)="searchVideos()" id="app-search-button" color="primary">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<div id="app-content">
  <tubefy-video-search-results [userId]="userId" *ngIf="showVideoSearchResultsComponent"></tubefy-video-search-results>
  <tubefy-audio-recording-results [userId]="userId" [audioRecordingsFilter]="searchQuery" *ngIf="showAudioRecordingResultsComponent"></tubefy-audio-recording-results>
</div>
